<!DOCTYPE html>
<html>
<head>
  <title>ResqueTest</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <h3 style="color: #FFFFFF">Multiprocessamento Assimétrico</h3>
    </div>
  </div>
</header>


<div class="container">
	<%= yield %>
</div>
</body>
</html>
